---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const allProjects = await getCollection("projects");
allProjects.sort((a, b) => {
  if (a.data.order > b.data.order) return 1;
  else return -1;
});
---

<Layout title="esc | design engineer">
  <main>
    <div class="bio">
      Esteban Sandoval-Copaja is a design engineer, creative coder and a makeup
      enthusiast.
    </div>
    <ul role="list" class="projectGrid">
      {
        allProjects.map((project, index) => (
          <ProjectCard
            title={project.data.title}
            cover={project.data.cover}
            alt={project.data.coverAlt}
            href={`projects/${project.slug}`}
            color={project.data.color}
            index={index}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    color: #000000;
    font-size: 20px;
    line-height: 1.6;
  }
  .bio {
    padding-top: var(--spacing-m);
    line-height: 1.6;
    font-size: 1.4rem;
    color: var(--black);
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .projectGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: var(--gutter);
    padding-top: var(--spacing-m);
    margin: 0;
  }
</style>
