---
import Layout from "../layouts/Layout.astro";
import data from "./data/about.json";

const exhibition = data.sections.filter(
  (section) => section.category === "Exhibitions"
)[0];
const education = data.sections.filter(
  (section) => section.category === "Education"
)[0];
const teaching = data.sections.filter(
  (section) => section.category === "Teaching"
)[0];
const work = data.sections.filter((section) => section.category === "Work")[0];
---

<Layout title="who is esc?">
  <main>
    <div class="bio">
      <p>
        Esteban Sandoval-Copaja is a design engineer, creative coder and a
        makeup enthusiast.
      </p>
      <p>
        His interests include media art, data visualization, qualitative
        research, design systems, and interaction design. His work uses
        technology as part of the creative process, either as an exploratory
        mechanism or as the actual object of study.
      </p>
      <p>
        He's currently based in Santiago, Chile and works as a design engineer
        at <a href="https://designsystems.international/"
          >Design Systems International</a
        >. He takes as a designer and programmer on the visual design and
        development of interfaces on web applications, design tools and assets
        that coexist on the brand’s domain.
      </p>
      <p>He's a queer poz Latinx and uses he/they pronouns.</p>
    </div>
    <table>
      {
        exhibition.items.map((item, j) => {
          if (j === 0)
            return (
              <>
                <tr class="categoryMobile">
                  <td>{exhibition.category}</td>
                </tr>
                <tr class="divider">
                  <td class:list={["category", "firstItem"]}>
                    {exhibition.category}
                  </td>
                  <td class="firstItem">
                    {item.artwork}
                    <br /> {item.place}
                  </td>
                  <td class:list={["rightAlign", "firstItem"]}>
                    {item.year}
                    <br /> {item.city}
                  </td>
                </tr>
              </>
            );
          else
            return (
              <tr>
                <td class="category" />
                <td class="">
                  {item.artwork}
                  <br /> {item.place}
                </td>
                <td class="rightAlign">
                  {item.year}
                  <br /> {item.city}
                </td>
              </tr>
            );
        })
      }
      {
        education.items.map((item, j) => {
          if (j === 0)
            return (
              <>
                <tr class="categoryMobile">
                  <td>{education.category}</td>
                </tr>
                <tr class="divider">
                  <td class:list={["category", "firstItem"]}>
                    {education.category}
                  </td>
                  <td class="firstItem">
                    {item.title}
                    <br /> {item.institution}
                  </td>
                  <td class:list={["rightAlign", "firstItem"]}>
                    {item.year}
                    <br /> {item.city}
                  </td>
                </tr>
              </>
            );
          else
            return (
              <tr>
                <td class="category" />
                <td class="">
                  {item.title}
                  <br /> {item.institution}
                </td>
                <td class="rightAlign">
                  {item.year}
                  <br /> {item.city}
                </td>
              </tr>
            );
        })
      }
      {
        teaching.items.map((item, j) => {
          if (j === 0)
            return (
              <>
                <tr class="categoryMobile">
                  <td>{teaching.category}</td>
                </tr>
                <tr class="divider">
                  <td class:list={["category", "firstItem"]}>
                    {teaching.category}
                  </td>
                  <td class="firstItem">
                    {item.title}
                    <br /> {item.institution}
                  </td>
                  <td class:list={["rightAlign", "firstItem"]}>
                    {item.year}
                    <br /> {item.city}
                  </td>
                </tr>
              </>
            );
          else
            return (
              <tr>
                <td class="category" />
                <td class="">
                  {item.title}
                  <br /> {item.institution}
                </td>
                <td class="rightAlign">
                  {item.year}
                  <br /> {item.city}
                </td>
              </tr>
            );
        })
      }
      {
        work.items.map((item, j) => (
          <>
            {j === 0 && (
              <tr class="categoryMobile">
                <td>{work.category}</td>
              </tr>
            )}
            <tr class:list={[{ divider: j === 0 }]}>
              <td class:list={["category", { firstItem: j === 0 }]}>
                {j === 0 && work.category}
              </td>
              <td class:list={[{ firstItem: j === 0 }]}>
                {item.title}
                <br /> {item.company}
              </td>
              <td class:list={["rightAlign", { firstItem: j === 0 }]}>
                {item.year}
              </td>
            </tr>
          </>
        ))
      }
    </table>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      max-width: calc(100% * 8 / 13);
      padding-top: var(--spacing-l);
    }

    .divider {
      width: 100%;
      border-top: 1px solid #797979;
    }

    .firstItem {
      padding-top: var(--spacing-m);
    }

    table {
      border-collapse: collapse;
    }

    td {
      vertical-align: top;
      padding: 0 0 var(--spacing-m) 0;
    }

    .bio {
      margin-left: auto;
      max-width: calc(100% * 6 / 8);
      line-height: 1.6;
      font-size: 1.4rem;
      padding-bottom: var(--spacing-l);
    }

    .firstcategory {
      width: calc(100% * 2 / 8);
    }

    .category {
      width: calc(100% * 2 / 8);
    }

    .rightAlign {
      text-align: right;
    }

    .group {
      display: flex;
      flex-direction: row;
    }

    .categoryMobile {
      display: none;
    }

    @media (max-width: 1024px) {
      main {
        max-width: none;
      }
    }

    @media (max-width: 700px) {
      .bio {
        margin: 0;
        max-width: none;
      }

      .category {
        display: none;
      }

      .categoryMobile {
        display: block;
        vertical-align: top;
        & td {
          padding: var(--spacing-m) 0 var(--spacing-xs) 0;
        }
      }
    }
  </style>
</Layout>
